@use "abstract" as *;

// Mixin
.card-container {
    padding: 5rem;
    @include container(80%);
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    padding: 2rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        text-align: center;
    }

    &__img {
        border-radius: 3px;
    }
}

// Placeholder
%title {
    font-family: Arial;
}

// Extend
.title-1 {
    @extend %title;
    font-size: 5rem;
    margin-bottom: 20px;
}

.title-2 {
    @extend %title;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: $main-color;
}